.auth-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container > div:nth-child(2) {
    border: 1px solid #E9D5DA;
    border-radius: 16px 0 0 12px;
    padding: 16px 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.auth-container > div h2 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.8rem;
    color: #393E46;
}

.auth-form-control {
    margin-bottom: 0.6rem;
}

.auth-form-control label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #363062;
}
.auth-form-control input {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #363062;
    border: 1px solid #E9D5DA;
    border-radius: 16px 0 0 16px;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    transition: all 300ms ease-in-out;
}
.auth-form-control input:focus {
    border: 1px solid #363062;
}

.auth-btn {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #827397;
    border: none;
    border-radius: 16px 0 0 16px;
    padding: 5px 10px;
    margin-top: 1.5rem;
    outline: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 300ms ease-in-out;
}

.auth-btn:hover {
    background-color: #363062;
}

.auth-link {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: #827397;
    text-decoration: none;
    margin-top: 0.7rem;
    letter-spacing: 0.5px;
    transition: all 300ms ease-in-out;
}

.auth-link:hover {
    color: #363062;
}